[submodule "matlab-stargo"]
	path = matlab-stargo
	url = https://github.com/farhi/matlab-stargo
[submodule "matlab-gphoto"]
	path = matlab-gphoto
	url = https://github.com/farhi/matlab-gphoto
[submodule "matlab-astrometry"]
	path = matlab-astrometry
	url = https://github.com/farhi/matlab-astrometry
